{% extends "base.html" %}
{% load wagtailimages_tags static lazyimages_tags wagtailcore_tags  wagtailiconchooser_tags %}

{% block body_class %}homepage{% endblock %}

{% block extra_css %}
    <style>
        .hero-banner {
            background-size: cover;
            background-position: center;
            color: #fff;
            background-repeat: no-repeat;
            padding: 10rem 0;
            background-color: #555;
            position: relative
        }

        .banner-title {
            font-size: 50px;
            line-height: 55px;
            font-weight: 500;
            color: #fff;
            text-shadow: 1px 2px 2px #555;
        }

        .banner-subtitle {
            font-size: 18px;
            line-height: 30px;
            max-width: 48rem;
            color: #fff;
            text-shadow: 1px 1px 1px #555;
        }

        .map-btn {
            margin-top: 20px;
            background-color: #198754;
            color: #fff;
            border-color: #198754;
        }

        .banner-arrow {
            position: absolute;
            display: flex;
            justify-content: center;
            width: 100%;
            bottom: -20px
        }

        .banner-arrow button {
            background-color: #198754;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
        }

        .banner-arrow button svg {
            height: 15px;
            width: 15px;
            fill: #fff;
        }

        section:nth-child(even) {
            background-color: #f8f9fb;
        }

        .section {
            padding: 60px 0;
        }

        .section-title {
            display: flex;
            justify-content: center;
            font-size: 32px;
            width: 100%;
            padding-bottom: 40px;
            font-weight: 500;
        }

        .intro-text {
            font-size: 24px;
            color: #198754;
        }

        .intro-image {
            height: 360px;
            width: 100%;
        }

        .intro-image img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }


        .feature-icon-fill {
            background-color: #198754;
        }


        .feature-icon {
            width: fit-content;
            padding: 12px;
            border-radius: 4px;
            display: flex;
            align-items: center;
        }


        .feature-icon svg {
            height: 40px;
            width: 40px;
            fill: #fff;
        }

        .icon-fill svg {
            fill: #198754;
        }

        .feature-title {
            padding: 10px 0;
            font-weight: 500;
            text-align: center;
        }

        .feature-description {
            text-align: center;
            color: #999;
        }

        .category-map-link {
            color: #198754;
        }

        .category-map-link:hover, .category-map-link:hover svg {
            color: #0a5434;
            fill: #0a5434;
        }


        .dataset-count {
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            background-color: #198754;
            border-radius: 100%;
            font-size: 12px;
            font-weight: 500;
            color: #fff;
        }


        .info-section:nth-child(odd) .info-section-row {
            flex-direction: row-reverse !important;
        }

        .info-description {
            padding-bottom: 20px;
            color: #999;
        }

        .info-image {
            height: 400px;
            width: 100%;
            padding: 0 16px;
        }

        .info-image img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
            overflow: hidden;
        }

        .info-title {
            font-size: 32px;
            font-weight: 500;
            padding: 20px 0;
            color: #555;;
        }

        .info-list-items {
            list-style: none;
            padding-left: 0;
        }

        .info-list-items li {
            position: relative;
            padding-left: 1.5em;
            font-size: 18px;
            padding-bottom: 4px;
        }

        .info-list-items li:before {
            content: "";
            position: absolute;
            left: 0;
            width: 1em;
            height: 1em;
            margin-top: 4px;
            background: url("data:image/svg+xml;utf8,<?xml version= '1.0' encoding= 'utf-8' ?><svg width= '18' height= '18' viewBox= '0 0 1792 1792' xmlns= 'http://www.w3.org/2000/svg' ><path d= 'M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z' fill= 'currentColor' /></svg>") no-repeat;
        }


    </style>
{% endblock extra_css %}

{% block content %}
    {% if page.banner_image %}
        {% image page.banner_image original as b_img %}
        <section class="hero hero-banner progressive__bg progressive--not-loaded" data-progressive="{{ b_img.url }}"
                 style="background-image: url({% lazy_image_url b_img %});">
            <div class="hero-body" style="display: flex;align-items: center">
                <div class="container">
                    <h1 class="title banner-title">
                        {{ page.banner_title }}
                    </h1>
                    {% if page.banner_subtitle %}
                        <h2 class="banner-subtitle">
                            {{ page.banner_subtitle }}
                        </h2>

                        <a class="button is-rounded map-btn" href="{{ mapviewer_url }}"> Explore Map</a>
                    {% endif %}
                </div>
            </div>
            <div class="banner-arrow">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" id="arrow-down-394c3635--sprite">
                        <path d="M31.68 8.593L30.077 6.99c-.214-.214-.46-.321-.738-.321s-.523.107-.737.321L16 19.591 3.399 6.99c-.214-.214-.46-.321-.738-.321s-.524.107-.738.321L.32 8.593c-.214.214-.321.46-.321.738s.107.524.321.737L15.262 25.01c.214.214.46.321.738.321s.523-.107.737-.321L31.68 10.068c.214-.214.32-.46.32-.737s-.106-.524-.32-.738z"></path>
                    </svg>
                </button>
            </div>
        </section>

    {% endif %}


    {% if page.intro_img %}
        <section class="section">
            <div class="container">
                <div class="columns is-mobile is-multiline">
                    <div class="column is-half-desktop is-full-mobile is-flex is-flex-direction-column is-align-items-center is-justify-content-center intro-text">
                        {{ page.intro_text|richtext }}
                    </div>
                    <div class="column is-flex is-align-items-center">
                        {% image page.intro_image original as intro_img %}
                        <figure class="intro-image">
                            <img class="progressive__img progressive--not-loaded" data-progressive="{{ intro_img.url }}"
                                 src="{% lazy_image_url intro_img %}"
                                 alt="{{ intro_img.alt }}"/>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}


    {% if page.info_blocks %}
        {% for info_block in page.info_blocks %}
            <section class="section info-section">
                <div class="container">
                    {% include_block info_block %}
                </div>
            </section>
        {% endfor %}
    {% endif %}

    {% if page.feature_blocks %}

        <section class="section">
            <div class="container">
                <h1 class="has-text-centered section-title">Features</h1>

                <div class="columns is-mobile is-multiline is-flex is-justify-content-center">
                    {% for feature in page.feature_blocks %}
                        <div class="column is-half-mobile is-one-quarter-desktop is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                            <div class="feature-icon feature-icon-fill">
                                {% svg_icon feature.value.icon %}
                            </div>

                            <div class="feature-title">
                                {{ feature.value.title }}
                            </div>

                            <div class="feature-description">
                                {{ feature.value.description }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    {% if dataset_categories %}
        <section class="section">
            <div class="container p-6">
                <h1 class="has-text-centered section-title">What's Included</h1>
                <div class="columns is-mobile is-multiline is-flex is-justify-content-center">
                    {% for category in dataset_categories %}
                        <a class="column is-half-mobile is-one-quarter-desktop is-flex is-flex-direction-column is-justify-content-center is-align-items-center category-map-link"
                           href="{{ category.mapviewer_map_url }}">
                            <div class="feature-icon icon-fill is-relative">
                                {% svg_icon category.icon %}

                                {% if category.datasets.count > 0 %}
                                    <div class="dataset-count">
                                        {{ category.datasets.count }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="feature-title">
                                {{ category.title }}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock content %}
