modules = ["python-3.9", "web", "bash", "postgresql-16"]

# For local development
run = "sh -c 'python manage.py migrate && python manage.py collectstatic --noinput && gunicorn --config gunicorn_config.py sandbox.wsgi:application'"

[[ports]]
localPort = 8000
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
run = [
  "sh",
  "-c",
  """
  python manage.py migrate && \
  python manage.py collectstatic --noinput && \
  gunicorn --config gunicorn_config.py sandbox.wsgi:application
  """
]