modules = ["postgresql-16"]
[nix]
channel = "stable-22_05"  # Using an older stable channel for better compatibility

[env]
VIRTUAL_ENV = ".venv"
PATH = "${VIRTUAL_ENV}/bin:${PATH}"

run = "python manage.py migrate && python manage.py collectstatic --noinput && gunicorn --config gunicorn_config.py sandbox.wsgi:application"

[[ports]]
localPort = 8000
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
run = [
  "sh",
  "-c",
   """
  python manage.py migrate && \
  python manage.py collectstatic --noinput && \
  gunicorn --config gunicorn_config.py sandbox.wsgi:application
  """
]
