channels==4.0.0
daphne==4.0.0
Django==4.2.8
django-cleanup==8.0.0
django-cors-headers==4.3.1
django-deep-translator==1.5.1
django-environ==0.11.2
geomanager==0.5.0
psycopg2-binary==2.9.9
pymemcache==4.0.0
wagtail==5.2.1
wagtail-adminsortable @ https://github.com/Lh4cKg/wagtail-admin-sortable/archive/baa0d1f13a6bca4cc60e0d7dcd0522ecafcf5d67.zip#sha256=ab6ea62b180659f56330397e97e9fcc2769dd10801f52fd259bc3175d77e27b7
wagtail-lazyimages==0.1.5
wagtail-metadata==5.0.0
